$whiteColor: #FFFFFF;
$lightColor: #5F5F5F;
$blackColor: #000000;

$indexBlackColor: #262019;
$bgHeadingColor: #F2DDC3;
$indexBgLinearColor: #F4EDE2;
$indexContainerBgColor: #F2E4CE;

$alyamkinaBgLinearColor1: #F0E8D5;

$rixatBgLinearColor1: #0E0A21;
$rixatBgLinearColor2: #E5E1DE;
$rixatBgLinearColor3: #3D2121;

$vlasinColor1: #FFE54F;

$vdovinGradientColor: linear-gradient(180deg, #ECFFB6 36.77%, #BDFF00 100%);
$vdovinBorderGradientColor: linear-gradient(#000000, transparent) 30;
$vdovinBorderSettings: 4px solid;

$gailevichBgGradientColor: linear-gradient(25deg, rgba(255, 212, 102, 1) 45%, rgba(240, 210, 162, 1) 45%);
$gailevichBgLinearColor: #F0D2A2;
$gailevichTextColor: #42280A;

$gerasimovaBgLinearColor: #FFF8E9;
$gerasimovaTextColor: #D6B88B;

$izisOneFont: 'Izis One';
$corbelFont: 'Corbel';
$rezaZulmiFont: 'Reza Zulmi Sans';
$bookmanOldStyleFont: 'Bookman Old Style';
$usuallyFont: 'Usually-font';
$bewareFont: 'Unnamed';
$quicksandFont: 'Quicksand';
$santaCatarinaFont: 'Santa Catarina';
$pobedaFont: 'Pobeda';
$mr_ApexMk3Font: 'mr_ApexMk3ExtraLightG';
$republicaMinorFont: 'Republica Minor';
$architecturalFont: 'Architectural';
$mistoFont: 'Misto';
$centuryGothicFont: 'Century Gothic';
$igletsFont: 'Iglets';

$borderContent: 3px solid $whiteColor;
$borderRadius: 0;