@import 'config/mixins';
@import 'config/vars';

body {
    .back-to-index {
        @include rezaZulmiFont(20px);
        color: $whiteColor;
        text-decoration: none;

        &:hover {
            color: $rixatBgLinearColor2;
            transition-duration: 200ms;
        }

        @media (min-width: 360px) and (max-width: 575px) {
            font-size: 12px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            font-size: 14px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 18px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 20px;
        }

        @media (min-width: 1200px) and (max-width: 1399px) {
            font-size: 20px;
        }
    }

    .rixat {
        background: url("bykov/jpg-png/rixat.jpg") no-repeat;
        background-size: cover;
        background-position: center;

        &__title {
            @include usuallyFont(280px);
            color: $whiteColor;

            @media (min-width: 360px) and (max-width: 575px) {
                font-size: 64px;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 112px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 164px;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 200px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                font-size: 218px;
            }
        }

        a {
            color: $whiteColor;
        }

        &__btn {
            @include rezaZulmiFont(54px);
            color: $whiteColor;
            letter-spacing: 15px;
            animation-delay: 500ms;

            &:hover {
                color: $rixatBgLinearColor2;
            }

            @media (min-width: 360px) and (max-width: 575px) {
                font-size: 20px;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 28px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 32px;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 46px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                font-size: 52px;
            }
        }

        &__hr {
            color: $whiteColor;
            opacity: 1;
        }
    }

    .about {
        &__title {
            @include rezaZulmiFont(48px);
            color: $blackColor;

            @media (min-width: 360px) and (max-width: 575px) {
                font-size: 14px;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 20px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 28px;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 32px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                font-size: 46px;
            }
        }
    }

    .music {
        .card {
            background: transparent;

            .ad {
                &-500 {
                    animation-delay: 500ms;
                }

                &-800 {
                    animation-delay: 800ms;
                }

                &-1500 {
                    animation-delay: 1.5s;
                }
            }

            .btn {
                @include rezaZulmiFont(36px);
                color: $whiteColor;
                letter-spacing: 4px;

                border: 1px solid $whiteColor;
                border-radius: 0;

                animation-delay: 500ms;

                &:hover {
                    background-color: $whiteColor;
                    color: $rixatBgLinearColor3;
                }

                @media (min-width: 360px) and (max-width: 575px) {
                    font-size: 10px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 18px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 28px;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 32px;
                }
            }
        }

        &__track-1 {
            background-color: $rixatBgLinearColor1;
            color: $whiteColor;
        }

        &__track-2 {
            color: $blackColor;

            .text {
                @include rezaZulmiFont(36px);

                @media (min-width: 360px) and (max-width: 575px) {
                    font-size: 10px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 18px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 20px;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 28px;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 32px;
                }
            }
        }

        &__track-3 {
            background-color: $rixatBgLinearColor2;
            color: $blackColor;

            .card {
                .btn {
                    color: $blackColor;

                    border: 1px solid $blackColor;

                    &:hover {
                        background-color: $blackColor;
                        color: $whiteColor;
                    }
                }
            }
        }

        &__track-4 {
            background-color: $rixatBgLinearColor3;
            color: $whiteColor;
        }

        .track {
            &__authors-name {
                @include rezaZulmiFont(40px);

                @media (min-width: 360px) and (max-width: 575px) {
                    font-size: 14px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 18px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 20px;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 28px;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 36px;
                }
            }
        }
    }
}