@import 'config/mixins';
@import 'config/vars';

.gerasimova {
    &__header {
        background: $gerasimovaBgLinearColor;
    }

    &__body {
        background: url("gerasimova/svg/Group.svg") no-repeat;
        background-size: auto;
        background-color: $gerasimovaBgLinearColor;
    }

    &__bg-text {
        @include igletsFont(64px);
        line-height: 64px;
        color: $gerasimovaTextColor;

        @media (min-width:360px) and (max-width:575px) {
            font-size: 20px;
        }

        @media (min-width:576px) and (max-width:767px) {
            font-size: 24px;
        }

        @media (min-width:768px) and (max-width:991px) {
            font-size: 28px;
        }

        @media (min-width:992px) and (max-width:1199px) {
            font-size: 32px;
        }

        @media (min-width:1200px) and (max-width:1399px) {
            font-size: 46px;
        }
    }

    &__text {
        @include centuryGothicFont(36px);
        color: $blackColor;
        margin-top: -10rem;
        margin-left: 50px;

        @media (min-width:360px) and (max-width:575px) {
            font-size: 20px;
        }

        @media (min-width:576px) and (max-width:767px) {
            font-size: 24px;
        }

        @media (min-width:768px) and (max-width:991px) {
            font-size: 28px;
        }

        @media (min-width:992px) and (max-width:1199px) {
            font-size: 32px;
        }

        @media (min-width:1200px) and (max-width:1399px) {
            font-size: 34px;
        }
    }
}